:root {
  --global-font-size: 100%;
}

body {
  font-size: var(--global-font-size);
}


.accessibility-container {
  left: 0;
  bottom: 0;
  position: fixed;
  margin: 2vh 1vw;
  z-index: 2; /* Ensure the accessibility icon is above other elements */
}

.accessibility-button {
  width: 8vh;
}

.translation-popup {
  position: fixed; 
  bottom: 60px; 
  left: 10px; 
  display: flex;
  /* display: none; */
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1;
}



.translation-popup button {
  margin-bottom: 5px;
  padding: 8px 12px;
  background-color: #404a95; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.translation-popup button:hover {
  background-color: #293591; /* Hovered state background color */
}

.high-contrast {
  background: #000;
  color: #fff;
  /* Define other high contrast styles as needed */
}

.high-contrast button {
  border-color: #fff;
  /* Adjust button styles for high contrast */
}
.invert-colors {
  filter: invert(1);
}