.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* This will dim the background */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #fff;
    color: black;
    padding: 2rem;
    width: 80%;
    max-width: 700px;
    position: relative;
    height: 85%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow-y: auto;
  }

  h2 {
    font-size: 24px; /* Adjust the size to your preference */
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }


.button-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Add some spacing between button sections */
}

.h3 {
  font-size: 25px;
  text-align: center;
}

.container-row {
  align-items: center;
  width: 600px;
}

.ice-buttons-container,
.sweetness-buttons-container,
.toppings-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; /* Center buttons vertically */
  margin-top: 10px; /* Add spacing between rows */
  max-width: 587px; /* Set a maximum width for the button container */
  text-align: center;
}

.ice-buttons-container button,
.sweetness-buttons-container button,
.toppings-buttons-container button {
  margin-right: 20px; /* Add spacing between buttons horizontally */
  margin-bottom: 10px; /* Add spacing between buttons vertically */
  padding: 10px; /* Add padding to make buttons the same size */
  width: 175px; /* Set a fixed width (100% of their container) */
  height: 50px; /* Set a fixed height (adjust as needed) */
  background-color: #c5c7c9; /* Button background color */
  color: #000000; /* Button text color */
  border: none; /* Remove button border */
  border-radius: 4px; /* Add rounded corners */
  cursor: pointer; /* Change cursor on hover */
}

.ice-buttons-container button:hover,
.sweetness-buttons-container button:hover,
.toppings-buttons-container button:hover {
  background-color: #929394; /* Change background color on hover */
}

.done-container button{
  width: 150px; /* Set a fixed width (100% of their container) */
  height: 40px; /* Set a fixed height (adjust as needed) */
  background-color: #808080; /* Button background color */
  color: #000000; /* Button text color */
  border: none; /* Remove button border */
  border-radius: 4px; /* Add rounded corners */
  cursor: pointer; /* Change cursor on hover */
}

.done-container button:hover{
  background-color: #e0e1e2;
}
