/* DrinkButton.css */
.drink-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    transition: 0.3s;
  }
  
  .drink-button:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  .drink-image {
    max-width: 100px;
    margin-bottom: 10px;
  }
  
  .drink-label {
    text-align: center;
  }
  